@-webkit-keyframes moveInLeft {

    0% {
        opacity: 0;
        -webkit-transform: translateX(-10rem);
                transform: translateX(-10rem);
    }

    80% {
        -webkit-transform: translateX(1.5rem);
                transform: translateX(1.5rem);

    }

    100% {

        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }




}
@keyframes moveInLeft {

    0% {
        opacity: 0;
        -webkit-transform: translateX(-10rem);
                transform: translateX(-10rem);
    }

    80% {
        -webkit-transform: translateX(1.5rem);
                transform: translateX(1.5rem);

    }

    100% {

        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }




}
@-webkit-keyframes moveOutRight {

    0% {
        opacity: 1;
        
    }

    80% {
        -webkit-transform: translateX(1.5rem);
                transform: translateX(1.5rem);

    }

    100% {

        
        -webkit-transform: translateX(-10rem);

        
                transform: translateX(-10rem);
        opacity: 0;
    }




}
@keyframes moveOutRight {

    0% {
        opacity: 1;
        
    }

    80% {
        -webkit-transform: translateX(1.5rem);
                transform: translateX(1.5rem);

    }

    100% {

        
        -webkit-transform: translateX(-10rem);

        
                transform: translateX(-10rem);
        opacity: 0;
    }




}

@-webkit-keyframes moveInRight {

    0% {
        opacity: 0;
        -webkit-transform: translateX(10rem);
                transform: translateX(10rem);
    }

    80% {
        -webkit-transform: translateX(-1.5rem);
                transform: translateX(-1.5rem);

    }

    100% {

        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

}

@keyframes moveInRight {

    0% {
        opacity: 0;
        -webkit-transform: translateX(10rem);
                transform: translateX(10rem);
    }

    80% {
        -webkit-transform: translateX(-1.5rem);
                transform: translateX(-1.5rem);

    }

    100% {

        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

}

@-webkit-keyframes moveInBottom {

    0% {
        opacity: 0;
        -webkit-transform: translateY(3rem);
                transform: translateY(3rem);

    }

    

    100% {

        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

}

@keyframes moveInBottom {

    0% {
        opacity: 0;
        -webkit-transform: translateY(3rem);
                transform: translateY(3rem);

    }

    

    100% {

        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

}

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: 1rem;
      opacity: 1;
    }
  }
 
 @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: 1rem;
      opacity: 1;
    }
  }
  /**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 



/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

  @-webkit-keyframes scale-up-center {
    0% {
            opacity: 0;
              -webkit-transform: scale(0);
                      transform: scale(0);
    }
    100% {
            opacity: 1;
              -webkit-transform: scale(1);
                      transform: scale(1);
    }
  }

  @keyframes scale-up-center {
    0% {
            opacity: 0;
              -webkit-transform: scale(0);
                      transform: scale(0);
    }
    100% {
            opacity: 1;
              -webkit-transform: scale(1);
                      transform: scale(1);
    }
  }
  


  @-webkit-keyframes fadeIn {

    0% { opacity: 0; }


    80%{opacity:0.7}


    100%   { opacity: 1; }
}
  


  @keyframes fadeIn {

    0% { opacity: 0; }


    80%{opacity:0.7}


    100%   { opacity: 1; }
}
  @-webkit-keyframes fadeOut {

    0% { opacity: 1; }


    80%{opacity:0.7}


    100%   { opacity: 0; }
}
  @keyframes fadeOut {

    0% { opacity: 1; }


    80%{opacity:0.7}


    100%   { opacity: 0; }
}

